asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==42.0.8
Django==4.2.15
django-auditlog==3.0.0
django-filter==23.5
django-js-asset==2.2.0
django-mptt==0.14.0
djangorestframework==3.15.1
drf-excel==2.4.0
drf-flex-fields==1.0.2
et_xmlfile==2.0.0
idna==3.10
joblib==1.4.2
ldap3==2.9.1
NEMO==6.0.3
nltk==3.9.1
numpy==2.0.2
openpyxl==3.1.5
pillow==10.3.0
pyasn1==0.6.1
pycparser==2.22
pymodbus==3.3.2
python-dateutil==2.9.0
pytz==2024.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tenacity==9.0.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
wonderwords==2.2.0
